<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
	<header>
		<%- include('partials/navbar') %>
	</header>
	<main>
	<h1><%= title %></h1>
	<p>Beschrijving: <%= movieDescription %></p>
	<iframe width="360" height="200" src="<%= embedYoutubeVideoLink %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<img src="<%= imgLink %>" alt="">
	
	<form action="/succes.ejs" method="POST">
		<input type="hidden" name="movieTitle" value="<%= title %>">
		<button type="submit">Voeg toe aan mijn favorieten</button>
	</form>
	</main>	

	<script src="script/script.js"></script>
</body>
</html>